node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
*.md
.MD 
*.md # Markdown files
*.MD # Markdown files

*.MD
# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# SQLite Database
*.SQLite
*.sql
*.db
*.db-shm
*.db-wal
*.csv

/.agents
skills-lock.json
/static/uploads
/uploads
/.codegraph
*.ecosystem.config.cjs
ecosystem.config.cjs

# Database backups
backups/
